@import "../foundation/scss/normalize.scss";
@import "../foundation/scss/foundation.scss";

/* class which is removed by angular when the data is loaded */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  visibility: hidden;
}

.hoverIcon {
}

.hoverIcon:hover {
}

form {
    input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty {
        background-color: #FFFFC5;
        color:#F30;
    }

    input.ng-valid.ng-dirty, select.ng-valid.ng-dirty {
    }
}

