@import "../foundation/scss/normalize.scss";
@import "../foundation/scss/foundation.scss";

/* class which is removed by angular when the data is loaded */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  visibility: hidden;
}

.refreshIcon {
    cursor:pointer;
}

.deleteIcon {
    color:#a88a8a;
}

.deleteIcon:hover {
    color:#e66a6a;
}

.saveButton {
    @include button;

/*    background-color:blue;

    &.disabled {
        background-color:red;
    } */
}

table {
    .rowForInput {
        border-top:1px lightgrey solid;
        background-color:whitesmoke !important;
    }

    .rowForMessage {
        border-bottom:1px lightgrey solid;
        background-color:whitesmoke !important;
    }
}

form {
    .errorInfo {
        font-size:0.8em;
        color:#f30;
    }

    input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty {
        background-color: #ffffc5;
        color:#f30;
    }

    input.ng-valid.ng-dirty, select.ng-valid.ng-dirty {
    }
}

